<!DOCTYPE html>
<html lang="uk">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>тест</title>
</head>
<body>
	<form method="POST">
		<label for="n_prox">Кількість проксі</label>
		<input type="text" id="n_prox" name="n_prox" required>
		<br>
		<label for="n_loop">Кількість повторів</label>
		<input type="text" id="n_loop" name="n_loop" required>
		<br>
		<label for="url">Силка</label>
		<input type="text" id="url" name="url" required>
		<br>
		<input type="submit" value="Отправить">
	</form>
</body>
</html>